@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-bgc-main: #FFFFFF;
    --clr-bgc-second: #CFFD3C;
    --clr-bgc-header-second: #FB4B4D;
    --clr-bgc-fire: #CEFD3B;
    --clr-bgc-footer: #CDFD3B;
    --clr-main: #000000;
    --clr-second: #8B83F6;
    --clr-text-btn: #FFFFFF;
    --clr-header-link: #222222;
}

body {
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-main);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Page start Grid */

.page__start {
    margin-top: 110px;
    display: grid;
    margin: 110px 1px 0 1px;
    outline: 1px solid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 150px) 90px repeat(2, 200px);
    grid-template-areas: 
        "ujjo-big title"
        "ujjo-big ujjo-hand"
        "ticker ujjo-hand"
        "ujjo-cactus ujjo-hand"
        "ujjo-cactus ujjo-hand";
}

.start__ujjo-big {
    grid-area: ujjo-big;
    padding: 20px;
}

.start__ticker {
    grid-area: ticker;
    padding: 25px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.start__ujjo-cactus {
    grid-area: ujjo-cactus;
    padding: 20px;
}

.start__ujjo-cactus img {
    width: 100%;
    height: 100%;
}

.start__title {
    border-left: 1px solid;
    margin-bottom: -1px;
    border-bottom: 1px solid;
    font-size: 45px;
    grid-area: title;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
}

.start__ujjo-hand {
    border-left: 1px solid;
    grid-area: ujjo-hand;
    padding: 20px;
}

.start__ujjo-hand img {
    width: 100%;
    height: 100%;
}

/* Ujjo container */

.ujjo__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.ujjo__container .ujjo {
    width: 560px;
    height: 260px;
    top: 20px;
    left: 20px;
    position: absolute;
}

.ujjo__container .ujjo-lang {
    width: 480px;
    position: absolute;
}

/* Ticker */

.ticker {
    display: flex;
    position: relative;
    overflow: hidden;
}

.ticker__wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.item__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    animation: ticker 5s linear infinite;
}

.ticker__item {
    text-transform: uppercase;
    flex-shrink: 0;
}

@keyframes ticker {
    0% {
        transform: translateX(0);

    }
    to {
        transform: translateX(-100%);
    }
}

/* Article */

.article {
    padding: 40px 30px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5%;
    border: 1px solid;
    border-top: none;
}

.article > img {
    width: 100%;
}

.article__title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.5px;
}

/* Cards */

.cards {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    gap: 18px;
    border: 1px solid;
    border-top: none;
}

.cards > img {
    position: relative;
    top: 0;
    right: 28px;
}

.card {
    position: relative;
}

.card__fire-oracle {
    position: absolute;
}

.oracle-last {
    right: 0;
}

.card__border {
    width: 100%;
    z-index: -1;
    position: relative;
}

.card__container {
    width: 100%;
    position: relative;
    display: grid;
}

.card__body {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.card__body > h2 {
    font-size: 32px;
}

.card__body > h3 {
    text-transform: uppercase;
} 

.card__body > img {
    width: 100%;
    border-radius: 10px;
}